%br
%br
.tagLine 
.mission
	We have a great time
.explain
	The goal every summer is to make sure everyone has a great time. We come out, we play frisbee, we make friends, then we drive (or bike) home and do it all again next week.

.mission
	We play ultimate
.explain
	That's what brings us together. We have new players, veterans, guys, girls, tall people, short people, old people, young people - and somehow we get along. 

.mission
	Layouts, smiles, and high fives
.explain
	Respect each other and respect the game. Whether you're a college kid coming off a trip to Nationals (go zontals!) or stay at home dad coming to get some exercise, we welcome each other and encourage all levels of play. Be as competitive as you want but don't get angry. 
