%form{"method" => "POST", "action" => "email"}
  %label from
  %input{"name" => "from"}
  
  %label to
  %input{"name" => "to"}
  
  %label subject
  %input{"name" => "subject"}
  
  %label html
  %input{"name" => "html"}
  
  %label text
  %input{"text" => "text"}
  
  %input{"type" => "submit", "value" => "test this email"}
  