%h2 UPDATE: Tournament is 10am, Sunday August 12

%h1 This week - July 31
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Red vs Blue
		%tr
			%td 2
			%td Black vs Yellow
		%tr
			%td 3
			%td Green vs White
		%tr
			%td 4
			%td Orange vs Pink
			
%h1 May 29
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Pink def Blue 17-8
		%tr
			%td 2
			%td White def Red 17-13
		%tr
			%td 3
			%td Black def Yellow 17-8
		%tr
			%td 4
			%td Orange def Green 17-12
%h1 June 5
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White def Pink 17-15
		%tr
			%td 2
			%td Blue def Green 15-12
		%tr
			%td 3
			%td Red def Black 15-12
		%tr
			%td 4
			%td Orange def Yellow 17-12

%h1 June 12
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White def Yellow 17-16
		%tr
			%td 2
			%td Blue def Orange 15-11
		%tr
			%td 3
			%td Red def Green 17-8
		%tr
			%td 4
			%td Black def Pink 15-13


%h1 June 19
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Blue def White 14-11
		%tr
			%td 2
			%td Pink def Green 15-9
		%tr
			%td 3
			%td Black def Orange 15-13
		%tr
			%td 4
			%td Yellow def Red 15-10

%h1 June 26
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th 
	%tbody
		%tr		
			%td 1
			%td Orange def White 17-16
		%tr
			%td 2
			%td Yellow def Green 17-14
		%tr
			%td 3
			%td Pink def Blue 17-14
		%tr
			%td 4
			%td Black def Red 15-12

%h1 July 3
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White def Green 15-14
		%tr
			%td 2
			%td Orange def Pink 15-12
		%tr
			%td 3
			%td Yellow def Black 16-14
		%tr
			%td 4
			%td Blue def Red 15-10


%h1 July 10
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Pink def White 15-13
		%tr
			%td 2
			%td Black def Green 15-13
		%tr
			%td 3
			%td Orange def Red 15-13
		%tr
			%td 4
			%td Blue def Yellow 15-12


%h1 July 17
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Orange def Green 17-16
		%tr
			%td 2
			%td Blue def Black 15-11
		%tr
			%td 3
			%td Pink def Yellow 15-10
		%tr
			%td 4
			%td Red def White 15-8

%h1 July 24
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Blue def White 15-12
		%tr
			%td 2
			%td Pink def Green 15-6
		%tr
			%td 3
			%td Black vs Orange ??
		%tr
			%td 4
			%td Yellow def Red 15-11

%h1 July 31
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Red vs Blue
		%tr
			%td 2
			%td Black vs Yellow
		%tr
			%td 3
			%td Green vs White
		%tr
			%td 4
			%td Orange vs Pink

%h1 Tuesday August 7 - schedule TBD based on standings

%h1 SUNDAY August 12 - tournament 10am!



