%h1 Fall League Schedule (2012)

%h1 Friday - Sept 14 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White vs Orange
		%tr
			%td 2
			%td Black vs Green
			
%h1 Friday - Sept 28 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Green vs White
		%tr
			%td 2
			%td Orange vs Black
			
%h1 Friday - Oct 5 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White vs Black
		%tr
			%td 2
			%td Green vs Orange

%h1 Friday - Oct 12 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White vs Orange
		%tr
			%td 2
			%td Black vs Green
			
%h1 Friday - Oct 19 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Green vs White
		%tr
			%td 2
			%td Orange vs Black
			
%h1 Friday - Oct 26 - 7pm - Championship Night (2 games)
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td #1 vs #4 @ 7pm, Finals @ 8:45pm
		%tr
			%td 2
			%td #2 vs #3 @ 7pm, 3rd place game @ 8:45pm
			



