%h1 Fall League Schedule (2012)

%h1 Friday - Sept 14 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Brown def Red 15-13
		%tr
			%td 2
			%td Blue def Green 15-13
			
%h1(style="color:red;") No games Friday, Sept 21

%h1 Friday - Sept 28 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Brown def Green 16-15
		%tr
			%td 2
			%td Red def Blue 15-9
			
%h1 Friday - Oct 5 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Blue def Brown 15-12
		%tr
			%td 2
			%td Red def Green 15-9

%h1 Friday - Oct 12 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Blue vs Green
		%tr
			%td 2
			%td Brown vs Red
			
%h1 Friday - Oct 19 - 8pm
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Green vs Brown
		%tr
			%td 2
			%td Red vs Blue
			
%h1 Friday - Oct 26 - 7pm - Championship Night (2 games)
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td #1 vs #4 @ 6:30pm, Finals @ 7:45pm
		%tr
			%td 2
			%td #2 vs #3 @ 6:30pm, 3rd place game @ 7:45pm
			



