%h1 This week - June 12
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Green vs White
		%tr
			%td 2
			%td Orange vs Pink
		%tr
			%td 3
			%td Black vs Yellow
		%tr
			%td 4
			%td Red vs Blue

%h1 May 29
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Pink def Blue 17-8
		%tr
			%td 2
			%td White def Red 17-13
		%tr
			%td 3
			%td Black def Yellow 17-8
		%tr
			%td 4
			%td Orange def Green 17-12


%h1 June 5
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White def Pink 17-15
		%tr
			%td 2
			%td Blue def Green 15-12
		%tr
			%td 3
			%td Red def Black 15-12
		%tr
			%td 4
			%td Orange def Yellow 17-12

%h1 June 12
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Green vs White
		%tr
			%td 2
			%td Orange vs Pink
		%tr
			%td 3
			%td Black vs Yellow
		%tr
			%td 4
			%td Red vs Blue


%h1 June 19
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td White vs Blue
		%tr
			%td 2
			%td Yellow vs Red
		%tr
			%td 3
			%td Orange vs Black
		%tr
			%td 4
			%td Green vs Pink

%h1 June 26
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th 
	%tbody
		%tr		
			%td 1
			%td White vs Orange
		%tr
			%td 2
			%td Green vs Yellow
		%tr
			%td 3
			%td Pink vs Blue
		%tr
			%td 4
			%td Black vs Red

%h1 July 3
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Yellow vs White
		%tr
			%td 2
			%td Orange vs Blue
		%tr
			%td 3
			%td Green vs Red
		%tr
			%td 4
			%td Pink vs Black

%h1 July 10
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Pink vs White
		%tr
			%td 2
			%td Black vs Green
		%tr
			%td 3
			%td Red vs Orange
		%tr
			%td 4
			%td Blue vs Yellow


%h1 July 17
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Orange vs Green
		%tr
			%td 2
			%td Blue vs Black
		%tr
			%td 3
			%td Yellow vs Pink
		%tr
			%td 4
			%td Red vs White

%h1 July 24
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Pink vs White
		%tr
			%td 2
			%td Blue vs Yellow
		%tr
			%td 3
			%td Red vs Orange
		%tr
			%td 4
			%td Black vs Green

%h1 July 31
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td Red vs Blue
		%tr
			%td 2
			%td Black vs Yellow
		%tr
			%td 3
			%td Green vs White
		%tr
			%td 4
			%td Orange vs Pink

%h1 August 7 Tournament
%table.table.table-bordered.table-striped
	%thead
		%th Field
		%th
	%tbody
		%tr		
			%td 1
			%td #2 vs 7
		%tr
			%td 2
			%td #1 vs 8
		%tr
			%td 3
			%td #3 vs #6
		%tr
			%td 4
			%td #4 vs #5



