.blogWrap
	It's winter, so nothing's really happening..
.leftColumnWrap 
	=haml :summerLeagueSignup
	%br					
	=haml :locations
.rightColumnWrap
	=haml :summerLeagueSchedule

=haml :summerLeagueSignupJS	
