%html
	%head
		:css
			@import url(/style.css);
		%link(href="http://fonts.googleapis.com/css?family=Chelsea+Market|Days+One|Pompiere"
			rel="stylesheet"
			type="text/css")
		%script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
			
	%body
		.pageWrap
			.bodyWrap
				.headline 
					.logo 
						%img(src='/images/LUFL_logo.png' width='100' height='100')
						.copy Lawrence Ultimate
					.bullets
						%ul	
							%li
								%a(href="summer-league") summer league
							%li fall league
							%li pickup games
				.contentWrap
					.leftColumnWrap 
						=haml :summerLeagueSignup
						%br					
					.rightColumnWrap
						=haml :summerLeagueSchedule
	=haml :summerLeagueSignupJS	
