%a(name="summer-league") &nbsp;
.row-fluid
	.span12
		.row-fluid
			.span10(style="text-align:center;")
				%h1 2012 Summer League - signups are open
		.row-fluid
			.span2 &nbsp;
			.span2
				%i(class="icon-calendar")
				%a(href="/" class="highlight" h="scheduleWrap") Schedule 
			.span2
				%i(class="icon-envelope")
				%a(href="/" class="highlight" h="emailWrap") Email Updates
			.span2
				%i(class="icon-picture")
				%a(href="/" class="highlight" h="locationWrap") Location	
		.row-fluid &nbsp;
		.row-fluid
			.span12(style="font-size:24px;") 
				%a(href="/summer-league-signup") NEW: Click here to Sign Up for 2012 Summer League!
		.row-fluid
			.span6 &nbsp;
				
			.span6 &nbsp;
				
		.row-fluid
			.span5.well.scheduleWrap
				%h3 Schedule
				%ul
					%li
						%span Saturday, April 21: Online Signup begins
					%li.next(style="font-size: 1.5em;")
						%span 
							%strong Sunday, May 20 Last day for signup
					%li Monday, May 21, 7pm: Draft teams
					%li Tuesday, May 29, 6:30pm: Week #1 - First League Game!
					%li Tuesday, June 5, 6:30pm: Week #2 - Get team shirts
					%li Tuesday, June 12, 6:30pm: Week #3
					%li Tuesday, June 19, 6:30pm: Week #4
					%li Tuesday, June 26, 6:30pm: Week #5
					%li Tuesday, July 3, 6:30pm: Week #6
					%li Tuesday, July 10, 6:30pm: Week #7
					%li Tuesday, July 17, 6:30pm: Week #8
					%li Tuesday, July 24, 6:30pm: Week #9
					%li Tuesday, July 31, 6:30pm: Week #10
					%li Tuesday, August 7, 6:30pm: Week #11
					%li Sunday, August 12, 10:00am: Tournament

			.span5.emailWrap.offset1.well.emailUpdatesWrap(class="#{@emailClass}")
				%h3(style="white-space: nowrap;") 
					Email Updates
					%span.tinyCaption (we'll try not to annoy you)
				-unless(@justSignedUp)
					%a(name="email-sign-up") &nbsp;								

					%form(action="http://lawrenceultimate.us4.list-manage.com/subscribe/post?u=9f62837be6c5a1f7ec773f8c4&id=47b71733a5" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank")
						%input.pristine(type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required)
						%div
							%button(type="submit" class="btn btn-primary" id="lusl-signup-button") sign me up!							
				-else
					%div Thanks for signing up! 					
					-if(@emailSent)
						%br
						%div We sent a verification email to #{@emailAddress}
						%div 
							%a(href="/email-preferences") Update your email preferences
					-elsif(@alreadyVerified)
						%br
						%div This email is already on the list and verified. You must really like email.
					-elsif(@hasEmailConfirmationWaiting)
						%br
						%div We sent a verification email to #{@emailAddress}
			.span5.offset1.well
				%h3 Check your status
				%form(method="GET" action="/status")
					%div
						%input(name="name" placeholder="Enter a name")
						%input(type="submit")
					
			
			.span5.locationWrap.offset1.well
				%h3 Location
				%div
					%a(href="http://g.co/maps/hrt2x") 
						%div
							YSI Sports Complex
							%br
							4911 West 27th Street, Lawrence, KS 66047
							
							
			
			
:javascript
	jQuery(document).ready(function() {
		$('.highlight').unbind('mouseover').bind('mouseover', function() {
			var classToHighlight = $(this).attr('h');
			$('.'+classToHighlight).addClass('highlight')
		}).unbind('mouseout').bind('mouseout', function() {
			var classToHighlight = $(this).attr('h');
			$('.'+classToHighlight).removeClass('highlight')
		});		
	});
