%html
	%head
		:css
			@import url(/style.css);
		%link(href="http://fonts.googleapis.com/css?family=Chelsea+Market|Days+One|Pompiere"
			rel="stylesheet"
			type="text/css")
		%script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")

	%body
		.pageWrap
			.bodyWrap
				.headline
					.logo
						%a(href='/')
							%img(src='/images/LUFL_logo_empty.png' width='30' height='30')
							.copy Lawrence Ultimate
						.tinyCopy ultimate frisbee in Lawrence, KS
					.bullets
						%ul
							%li
								%a(href='summer-league') summer league
							%li fall league
							%li pickup games
				.menu
					.item
						%a(href='/') Home
					.item 
						%a(href='/about') About
					.item Contact Us	
				.contentWrap
					=yield				
