.locations
	.tagline	Fields & maps
	%br
	YSC (Youth Sports Complex)
	.mapWrap
		%iframe(width="315" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Youth+Playing+Fields,+Lawrence,+Kansas&aq=0&oq=Youth+Pl&sll=37.0625,-95.677068&sspn=37.136668,79.013672&vpsrc=6&ie=UTF8&hq=Youth+Playing+Fields,+Lawrence,+Kansas&t=h&ll=38.940919,-95.30983&spn=0.024701,0.027122&z=14&iwloc=A&output=embed")
		%a(href="http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=Youth+Playing+Fields,+Lawrence,+Kansas&aq=0&oq=Youth+Pl&sll=37.0625,-95.677068&sspn=37.136668,79.013672&vpsrc=6&ie=UTF8&hq=Youth+Playing+Fields,+Lawrence,+Kansas&t=h&ll=38.940919,-95.30983&spn=0.024701,0.027122&z=14&iwloc=A" style="text-align:left") View Larger Map

