.bodyWrap
	font-family: Arial, sans-serif
	margin: 0 auto
	
	.headline		
		font-size: 3em
		border-bottom: 1px solid black
		margin: 0 auto
		text-align: center
		.logo
			img
				position: absolute
			.copy				
				margin: 0 auto
				width: 243px
			a
				color: black
				text-decoration: none
			.tinyCopy
				font-family: normal
				font-size: 1em
				margin-left: 98px
				text-align: left
			float: left
			font-family: 'Days One', sans-serif
			font-size: 3em
		.bullets
			margin-top: 17px 
			float: left
	.menu
		background-color: #E6E6E6
		border-radius: 0 0 3px 3px
		float: right
		padding: 14px 8px 5px
		.item
			margin-bottom: 5px
			a
				text-decoration: none
				color: black	
	.contentWrap 
		.blogWrap			
			font-size: 2em
			margin-top: 15px	
			text-align: center
		.leftColumnWrap 
			clear: left
			float: left		
			padding-top: 15px			
		.rightColumnWrap
			float: left
			margin-left: 15px
			padding-top: 15px

.scheduleWrap 
	background-color: #92D1F0
	border-radius: 3px
	color: #444445
	float: left
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 20px
	width: 300px 
	padding: 10px
	.next
		color: black
		font-weight: bold
		font-size: 14px
.subject
	width: 400px

.locations
	.tagLine
		font-size: 16px
		font-weight: bold
	background-color: #138753
	border-radius: 3px
	color: #E8FFF5
	float: left
	margin-top: 15px
	padding: 10px
	width: 320px
	iframe
		margin-bottom: 5px
	a
		color: white
		text-decoration: none

.summerLeagueSignupWrap
	background-color: #EBD05B
	border-radius: 3px
	clear: left
	float: left
	font-size: 12px
	padding: 10px
	.pristine
		color: #9E9E9E
	.emailTagLine
		font-size: 16px
	.overlay 
		background-color: #EBD05B
		display: none
		height: 70px
		opacity: 0
		position: absolute
		width: 380px
	.tinyCaption
		color: #444445
		font-size: 10px		
		font-style: italic
		margin: 2px 0 0 5px

.mission 
	font-size: 40px
.explain
	margin-bottom: 10px
	
	
