<<<<<<< HEAD
body 
	padding-top: 30px !important
	.hero-unit 
		padding: 30px
.tinyCaption 
	font-size: .5em
.logo
	height: 90px
.imageWrap
	float: left
.heroCopyWrap
	float: left
	.copy 
		clear: left
		margin-top: 20px
	.tinyCopy
		clear: left
a
	i
		text-decoration: none
a
	&:hover
		i
			text-decoration: none !important
a.sl-link
	&:hover
		i
			text-decoration: none !important

.emailUpdatesWrap
	.justSignedUp
		display: none
.emailUpdatesWrap.show_thanks
	.justSignedUp
		display: block
.colorWrap 
	border-radius: 3px
	background-color: pink
	height: 32px
	padding: 12px 2px 0 10px
.voting-row
	height: 50px
.color
	float: left
	width: 60px
.votes
	float: left
	margin: -8px 0 0 3px
	cursor: pointer
	.vote
		border-radius: 4px
		padding: 2px
	.upvote		
		&:hover
			background-color: #5BB75B			
	.downvote
		&:hover
			background-color: #DA4F49			
