.bodyWrap
	margin: 0 auto
	width: 650px
	
	.headline 
		.logo
			float: left
			font-family: 'Days One', sans-serif
			font-size: 36px
			margin-top: 20px
		.bullets 
			float: left
	
	.contentWrap 	
		.leftColumnWrap 
			clear: left
			float: left
			padding-top: 30px
			width: 400px			
		.rightColumnWrap
			float: left
			width: 200px

.bodyWrap
	width: 385px
.bullets 
	display: none

.summerLeagueSignupWrap
	background-color: #EBD05B
	border-radius: 3px
	font-size: 12px
	height: 70px
	padding: 10px
	width: 380px

	.overlay 
		background-color: #EBD05B
		display: none
		height: 70px
		opacity: 0
		position: absolute
		width: 380px
	
