.scheduleWrap
	Here's the schedule
	%br
	%ul
		%li.next Sunday, April 15: Signup begins
		%li Friday, May 22: Signup ends
		%li Saturday, May 23, 7PM: Draft teams
		%li Tuesday, May 29, 6:30pm: Summer League Season Begins - Week #1
		%li Tuesday, June 5, 6:30pm: Week #2
		%li Tuesday, June 12, 6:30pm: Week #3
		%li Tuesday, June 19, 6:30pm: Week #4
		%li Tuesday, June 26, 6:30pm: Week #5
		%li Tuesday, July 3, 6:30pm: Week #6
		%li Tuesday, July 10, 6:30pm: Week #7
		%li Tuesday, July 17, 6:30pm: Week #8
		%li Tuesday, July 24, 6:30pm: Week #9
		%li Tuesday, July 31, 6:30pm: Week #10
		%li Tuesday, August 7, 6:30pm: Week #11
		%li Sunday, August 12, 10:00am: Tournament
