.summerLeagueSignupWrap
	.overlay
		.thankYouWrap Thanks - we'll email you when it's time!
	interested in summer league?
	%br
	%br
	we'll let you know when to sign up
	%br
	%form(method="POST" action="signup")
		%input(id="lusl-signup" name="email_address" value="my email address is...")
		%button(id="lusl-signup-button") let me know!
	
