.summerLeagueSignupWrap
	.overlay
		.thankYouWrap Thanks - we'll email you when it's time!
	interested in summer league?
	%br
	%br
	we'll let you know when to sign up
	%input(id="lusl-signup" value="my email address is...")
	%button(id="lusl-signup-button") let me know!
	
