.span12
	.row-fluid
		.span8 
			%h1 week 1 schedule
	.row-fluid
		.span2
			pink vs blue
	.row-fluid
		.span2
			red vs white
	.row-fluid
		.span2
			black vs yellow		
	.row-fluid
		.span2
			green vs orange			
.row-fluid
.span12
	.row-fluid
		.span2
			%h1 Pink
			%ul				
				%li Oliver (C)
				%li Allan F-house (C)
				%li Westin Norwood
				%li Tyler Hartnett
				%li Colin Chilcoat
				%li Bryce Badgley
				%li Tanur Badgley
				%li Jason Maisog
				%li Marshall Rawley
				%li Dylan Orth
				%li Kasey Youngentob
				%li Ryan Roth
				%li Tyler Longpine
				%li Joe Morgan
				%li Davis Morgan
				%li Kamp Wiebe
				%li Ian Muschlknaus
				%li Kristen Jackson
				%li Katie Laird
				%li Caitlin Fitzgerald
				%li Amanda Brooke
				%li Sarah Shebek
				%li Ciara Malone
				%li Rose Sackuvich
				%li Dyan Morgan				
		.span2
			%h1 Blue
			%ul				
				%li Caleb (C)
				%li PJ (C)
				%li Daniel Gilroy
				%li Ethan Lovell
				%li Aaron Boehmler
				%li Colin Edwards
				%li Vincent Brauer
				%li James Duckworth
				%li Chris Bates
				%li Michael Horvath
				%li Mark Vasquez
				%li Justin Wilson
				%li Ross Engel
				%li Allan Un
				%li Stephanie Roberts
				%li Kendra Davis
				%li Nathalie Lapointe
				%li Caitlin McMurtry
				%li Lyndsie Un
				
		.span2
			%h1 Red
			%ul				
				%li Gary (C)
				%li Jake Kotzman (C)
				%li Nick Jackson
				%li Beau Atkinson
				%li John Firth
				%li Kent D
				%li Pat MacAskill
				%li Cal Patton
				%li Nick Howard
				%li Jake Frydman
				%li Kendall Gooden
				%li Dylan Guthrie
				%li Fransisco Gamboa
				%li Cole Finley	
				%li Victoria Hagan
				%li Emily Hink
				%li Dominique Barbour
				%li Diane Madsen
				%li Emily Kuckleman						
				%li Tiffany Adkins							
		.span2
			%h1 White
			%ul				
				%li Wint (C)
				%li Brett Hidaka
				%li Nicholas Frisby (C)
				%li Boone Bradley
				%li Karthik
				%li Micah Gallagher
				%li Cole Gearheart
				%li Nathan Ideus
				%li Stephen Harrington
				%li Ellis Scheuler
				%li Jeff Healy
				%li Josh Harper
				%li Julian French
				%li Lawrence Settles
				%li TJ Meehan	
				%li Hanna Nusz
				%li Katie Becklin
				%li Kelly Gillean (C)
				%li Jess Creamer (C)
				%li Suzanne Wikle (C)
				%li Sommer Amundsen			
		.span2
			%h1 Black
			%ul				
				%li Kat (C)
				%li Christy (C)
				%li Joe Young
				%li Bruce Tuschoff
				%li Bryon Brooks
				%li Daniel Supica
				%li Austin Suter
				%li Mychal Augustine
				%li Nathan Crispin
				%li Stephen McKinney				
				%li Matt Bishop
				%li Andrew Coggins
				%li Brent Metz
				%li Cameron Lennox
				%li Kyle Naig
				%li Tyler Fritz		
				%li Christina Baker
				%li Nadine Rowen
				%li Katie Hobson
				%li Kaitlin Emig						
		.span2
			%h1 Yellow
			%ul				
				%li Matt Zeets (C)
				%li Alex Zimm (C)
				%li Scott Boland
				%li Brent Kimmi
				%li Lee Clark
				%li Ben Chapin
				%li Colin Weiland
				%li Ted Morehouse
				%li Greg Seibel
				%li Greg Miller
				%li Nic Reese
				%li Jeremy Schlosser
				%li Peter Lippert
				%li Tristan Pratt
				%li Tyler Lau	
				%li Genni Hursh
				%li Bonnie Toplikar
				%li Carmen Arriaga-Bucher
				%li Allison Bertels
				%li Jenni Corcoran	
				%li Carlie Copeland			
		.span2
			%h1 Green
			%ul				
				%li Bill Dalton (C)
				%li Cote Smith
				%li Jesse Lee
				%li Jesse Gearheart
				%li Tony Brown
				%li Will Sharpe
				%li Chris Hoines
				%li Brett Smith
				%li Lucas Wallace
				%li Graham Ripple
				%li Jake Rapp
				%li Ron Frerker
				%li Peter Adany
				%li Brian Hansen
				%li Nicholas Lerner	
				%li Becca Dalton
				%li Nicole Smith
				%li Jamie McGovern
				%li Paige Manka
				%li Paige Asmann
				%li JonLaura Gray		
				%li Rachel Anderson	
		.span2
			%h1 Orange
			%ul				
				%li Kelsie (C)
				%li Jonathan Puebla
				%li Trent (C)
				%li Joey Brown
				%li Harry Schwartz
				%li Jason Miller
				%li Justin Sheets
				%li Harrison Scheib
				%li Mitchell Werts
				%li Hunter Williams
				%li Matt Baldwin
				%li Zen Mayhugh
				%li Cody Janousek
				%li Jeff Goodwin
				%li Ansley Rowe				
				%li Kate Eshelmen
				%li Clare Frantz
				%li Noel Rivard
				%li Emily Scholle
				%li Katie Sharp
				%li Ryan Folmsbee
					


